PROXMOX_HOST=PROXMOX_HOST
PROXMOX_USER=PROXMOX_USER
PROXMOX_TOKEN_ID=PROXMOX_TOKEN_ID
PROXMOX_TOKEN_SECRET=PROXMOX_TOKEN_SECRET

# Nextcloud LXC
NEXTCLOUD_VMID=101
NEXTCLOUD_HOSTNAME=nextcloud
NEXTCLOUD_CORES=2
NEXTCLOUD_MEMORY=4096
NEXTCLOUD_SWAP=512
NEXTCLOUD_DISK=32
NEXTCLOUD_DATA_SIZE=200
NEXTCLOUD_DATA_MOUNT=/data
NEXTCLOUD_IP=192.168.1.102
NEXTCLOUD_CIDR=24
NEXTCLOUD_GATEWAY=192.168.1.1

# Nextcloud app
NEXTCLOUD_DB_NAME=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=NEXTCLOUD_DB_PASSWORD

NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=NEXTCLOUD_ADMIN_PASSWORD
