PROXMOX_HOST=PROXMOX_HOST
PROXMOX_USER=PROXMOX_USER
PROXMOX_TOKEN_ID=PROXMOX_TOKEN_ID
PROXMOX_TOKEN_SECRET=PROXMOX_TOKEN_SECRET

HOMELAB_DOMAIN=home.arpa

# Nextcloud app
NEXTCLOUD_DB_NAME=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=NEXTCLOUD_DB_PASSWORD

NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=NEXTCLOUD_ADMIN_PASSWORD

# pi-hole app
PIHOLE_VERSION=v6.4.3
PIHOLE_UPSTREAM_DNS=1.1.1.1,1.0.0.1
PIHOLE_ADMIN_PASSWORD=PIHOLE_ADMIN_PASSWORD

# Pi-hole DHCP
PIHOLE_DHCP_START=192.168.1.20
PIHOLE_DHCP_END=192.168.1.254
PIHOLE_DHCP_ROUTER=192.168.1.1
PIHOLE_DHCP_NETMASK=255.255.255.0
PIHOLE_DHCP_LEASE_TIME=24h
PIHOLE_DHCP_ENABLED=true

# Resume Matcher LLM providers
GROQ_API_KEY=GROQ_API_KEY
GEMINI_API_KEY=GEMINI_API_KEY
