[defaults]
inventory = ./inventory/hosts.yml
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
roles_path = ./roles

[ssh_connection]
pipelining = True
ssh_args = -o UserKnownHostsFile=/root/.ansible_known_hosts