http:
  routers:
    ai:
      rule: "Host(`ai.{{ homelab_domain }}`)"
      entryPoints:
        - websecure
      service: ai
      tls: {}

  services:
    ai:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars[groups['ai'][0]].ansible_host }}:8080"