http:
  routers:
    nextcloud:
      rule: "Host(`nextcloud.{{ homelab_domain }}`)"
      entryPoints:
        - websecure
      service: nextcloud
      tls: {}

  services:
    nextcloud:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars[groups['nextcloud'][0]].ansible_host }}"