http:
  routers:
    pihole:
      rule: "Host(`pihole.{{ homelab_domain }}`)"
      entryPoints:
        - websecure
      service: pihole
      tls: {}

  services:
    pihole:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars[groups['pihole'][0]].ansible_host }}"