tls:
  certificates:
    - certFile: /etc/traefik/certs/{{ homelab_domain }}.crt
      keyFile: /etc/traefik/certs/{{ homelab_domain }}.key

  stores:
    default:
      defaultCertificate:
        certFile: /etc/traefik/certs/{{ homelab_domain }}.crt
        keyFile: /etc/traefik/certs/{{ homelab_domain }}.key